.container {
 padding: 2rem;
 margin: auto;
 height: 100vh;
 /* margin: 8rem auto 10rem; old*/
}

.header {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.headerImage {
 width: 6rem;
 height: 6rem;
}

.headerHomeImage {
 width: 8rem;
 height: 8rem;
}

.backToHome {
 margin: 3rem 0 0;
}
